body {
  color: rgb(var(--foreground-rgb));
  background-color: #f4f6f8;
  overscroll-behavior: none;
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
  }
}

/* Scrollbar styling for light mode */
::-webkit-scrollbar-track {
  border-radius: 0.125rem;
  background-color: #f0f0f0;
}

::-webkit-scrollbar {
  width: 0.25rem;
  border-radius: 0.125rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.125rem;
  background-color: #c0c0c0;
}

/* Scrollbar styling for dark mode */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background-color: #1e1e1e;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #404040;
  }
}
