
/* 
::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #698550; 
  border-radius: 4px; 
} */

body {
  color: rgb(var(--foreground-rgb));
  background-color: #f0fff0;
}

